#footer {
  background: #f2fbfd 0% 0% no-repeat padding-box;
  backdrop-filter: blur(11px);
  position: fixed;
  left: 0;
  right: 0;
  top: unset;
  bottom: 0;
  margin: auto;
  z-index: 101;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #6330d6 0%, #e216c9 44%, #ff009c 100%);

    @include pc {
      height: get_pc(8);
    }

    @include sp {
      height: get_sp(4);
    }
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0;
    overflow: inherit;
    max-width: 1090px;
    margin: 0 auto;

    @include pc {
      padding: get_pc(28) 0;
      max-width: get_pc(1090);
    }

    @include sp {
      padding: get_sp(8) 0;
      max-width: 100%;
    }

    .btn {
      display: flex;
      justify-content: center;

      .phone {
        background: #ffd5cb 0% 0% no-repeat padding-box;
        border: 3px solid #ff4114;
        border-radius: 71px;
        margin-right: 138px;
        height: 117px;
        transition-duration: 0.5s;

        @include pc {
          border: get_pc(3) solid #ff4114;
          border-radius: get_pc(71);
          margin-right: get_pc(138);
          height: get_pc(117);
        }

        @include sp {
          border: get_sp(1) solid #ff4114;
          border-radius: get_sp(21);
          margin-right: get_sp(22);
          height: get_sp(36);
        }

        &:hover {
          border: 3px solid #fff;
          transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);

          @include pc {
            border: get_pc(3) solid #fff;
          }

          @include sp {
            border: get_sp(1) solid #fff;
          }
        }

        a {
          font-family: $base-font-family;
          font-weight: bold;
          font-size: 40px;
          color: #ff4114;
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 3px solid #ff4114;
          border-radius: 71px;
          padding: 15px 16px 17px 24px;
          display: flex;
          align-items: center;
          margin: -6px 0 0 0;
          width: 478px;
          height: 111px;
          letter-spacing: -0.5px;
          transition-duration: 0.5s;

          @include pc {
            font-size: get_pc(40);
            border: get_pc(3) solid #ff4114;
            border-radius: get_pc(71);
            padding: get_pc(15) get_pc(16) get_pc(17) get_pc(24);
            margin: get_pc(-6) 0 0 0;
            width: get_pc(478);
            height: get_pc(111);
          }

          @include sp {
            font-size: get_sp(12);
            border: get_sp(1) solid #ff4114;
            border-radius: get_sp(21);
            padding: get_sp(5) get_sp(5) get_sp(6) get_sp(7);
            margin: get_sp(-3) 0 0 0;
            width: get_sp(142);
            height: get_sp(33);
          }

          &:hover {
            transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
            margin: 0;
          }

          &::before {
            content: "";
            @include bgsetup(
              "../images/phone.png",
              center,
              100% auto,
              no-repeat
            );
            width: 76px;
            height: 76px;
            display: inline-block;
            margin-right: 14px;

            @include pc {
              width: get_pc(76);
              height: get_pc(76);
              margin-right: get_pc(14);
            }

            @include sp {
              width: get_sp(22);
              height: get_sp(22);
              margin-right: get_sp(4);
            }
          }

          &::after {
            content: "";
            @include bgsetup(
              "../images/arrow1.png",
              center,
              100% auto,
              no-repeat
            );
            width: 17px;
            height: 27px;
            display: inline-block;
            margin-left: 67px;

            @include pc {
              width: get_pc(17);
              height: get_pc(27);
              margin-left: get_pc(67);
            }

            @include sp {
              width: get_sp(5);
              height: get_sp(8);
              margin-left: get_sp(14);
            }
          }
        }
      }

      .mail {
        background: #ffd5cb 0% 0% no-repeat padding-box;
        border: 3px solid #ff4114;
        border-radius: 71px;
        position: relative;
        height: 117px;
        transition-duration: 0.5s;

        @include pc {
          border: get_pc(3) solid #ff4114;
          border-radius: get_pc(71);
          height: get_pc(117);
        }

        @include sp {
          border: get_sp(1) solid #ff4114;
          border-radius: get_sp(21);
          height: get_sp(36);
        }

        &:hover {
          border: 3px solid #fff;
          transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);

          @include pc {
            border: get_pc(3) solid #fff;
          }

          @include sp {
            border: get_sp(1) solid #fff;
          }
        }

        .thumb {
          position: absolute;
          width: 297px;
          height: 106px;
          top: -118px;
          right: 88px;

          @include pc {
            width: get_pc(297);
            height: get_pc(106);
            top: get_pc(-118);
            right: get_pc(88);
          }

          @include sp {
            width: get_sp(88);
            height: get_sp(32);
            top: get_sp(-35);
            right: get_sp(30);
          }
        }

        a {
          font-family: $base-font-family;
          font-weight: bold;
          font-size: 33px;
          letter-spacing: -0.5px;
          background: #ff4114 0% 0% no-repeat padding-box;
          border: 3px solid #ff4114;
          border-radius: 71px;
          padding: 15px 26px 17px;
          display: flex;
          align-items: center;
          margin: -6px 0 0 0;
          color: #ffffff;
          width: 478px;
          height: 111px;
          transition-duration: 0.5s;

          @include pc {
            font-size: get_pc(33);
            border: get_pc(3) solid #ff4114;
            border-radius: get_pc(71);
            padding: get_pc(15) get_pc(26) get_pc(17);
            margin: get_pc(-6) 0 0 0;
            width: get_pc(478);
            height: get_pc(111);
          }

          @include sp {
            font-size: get_sp(10);
            border: get_sp(1) solid #ff4114;
            border-radius: get_sp(21);
            padding: get_sp(5) get_sp(6) get_sp(8);
            margin: get_sp(-3) 0 0 0;
            width: get_sp(142);
            height: get_sp(33);
          }

          &:hover {
            transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
            margin: 0;
          }

          &::before {
            content: "";
            @include bgsetup(
              "../images/email.png",
              center,
              100% auto,
              no-repeat
            );
            width: 76px;
            height: 76px;
            display: inline-block;
            margin-right: 19px;

            @include pc {
              width: get_pc(76);
              height: get_pc(76);
              margin-right: get_pc(19);
            }

            @include sp {
              width: get_sp(22);
              height: get_sp(22);
              margin-right: get_sp(6);
            }
          }

          &::after {
            content: "";
            @include bgsetup(
              "../images/arrow2.png",
              center,
              100% auto,
              no-repeat
            );
            width: 17px;
            height: 27px;
            display: inline-block;
            margin-left: 40px;

            @include pc {
              width: get_pc(17);
              height: get_pc(27);
              margin-left: get_pc(40);
            }

            @include sp {
              width: get_sp(4);
              height: get_sp(9);
              margin-left: get_sp(14);
            }
          }
        }
      }
    }
  }
}

.show-footer {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.hide-footer {
  opacity: 0;
  transition: opacity 0.6s ease;
}
