$base-font-family: "kozuka-gothic";
$base-maru-gothic: "Zen Maru Gothic", sans-serif;

$breakpoint-pc: 1920px;
$breakpoint-lg: 769px;
$breakpoint-md: 768px;

$clr-white: #ffffff;
$clr-txt-brown: #333333;
$clr-base-bg: #fdfdfd;
$clr-base-darkBlue: #2d4b73;
$clr-base-black: #000000;
$clr-base-font: #212121;
